/************/
/*	Default	*/
/************/

html,body{
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;

	background-color: #111;
}

h1.name{
	margin: auto;
	padding: 20px;
	text-align: center;
	color: #FFF;
}

.newproject{
	display: block;

	margin: 5px;

	text-decoration: none;
	color: #FFF;

	cursor: pointer;
}
.newproject:hover{
	color: orange;
}
.newproject:active{
	color:red;
}
/************/
/*	  App	*/
/************/

.container{
	width: 100%;
	height: 85%;

	margin: auto;
	text-align: center;
	color: #FFF;
}

.newtask{
	display: block;

	margin: 5px;

	text-decoration: none;
	color: #FFF;

	cursor: pointer;
}
.newtask:hover{
	color: orange;
}
.newtask:active{
	color:red;
}

/************/
/*	 Tasks	*/
/************/

.container .tasks{
	display: inline-block;

	width: 24%;
	height: 100%;

	border: 1px solid #FFF;

	vertical-align: top;
}

.tasks h3{
	margin: auto;
	padding: 20px;

	border-bottom: 1px solid #FFF;
	text-align: center;
}

.tasks#normal h3{
	color: grey;
}

.tasks#urgent h3{
	color: orange;
}

.tasks#very-urgent h3{
	color: red;
}

.tasks#done h3{
	color: green;
}

.tasks .content{
	width: 100%;
	height: 90%;

	text-align: left;
}

/************/
/*	 Task	*/
/************/
.tasks .content .task{
	display: inline-block;

	margin: 10px;
	padding: 10px;

	background-color: #333;
	border-radius: 5px;

	cursor: pointer;
}

/* new task popup html */
.newTaskHtml{
	display: inline-block;

}

.newTaskHtml * {
	display: block;
	
	margin: 5px;
}

.newTaskHtml textarea{
	min-width: 200px;
	max-width: 200px;
	max-height: 100px;
	min-height: 100px;
}

